body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(50, 50, 50);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    max-width: 100vw;
    max-height: 100vh;
    aspect-ratio: 16/9;
    object-fit: contain;
    background: black;
    outline: 2px white;
}